
.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.landing-page-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    max-width: 400px;
}
