
body {
    font-family: "Inter", sans-serif;
    height: 100vh;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
}

.btn {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: medium;
    text-decoration: none;

    &:hover,
    &:focus {
        cursor: pointer;
        border-color: white;
        background-color: black;
        color: white;
    }

    &.active {
        border-color: lightblue;
    }
}

.slider {
    appearance: none;
    width: 100px;
    height: 6px;
    cursor: pointer;

    &::-webkit-slider-thumb {
        appearance: none;
        margin-top: 2px;
        width: 12px;
        height: 12px;
        background-color: black;
        border-radius: 50%;
    }

    &::-webkit-slider-runnable-track {
        height: 20px;
        border: 2px solid black;
        border-radius: 10px;
    }

    &:hover::-webkit-slider-thumb {
        background-color: white;
    }

    &:hover::-webkit-slider-runnable-track {
        background-color: black;
        border-color: white;
    }
}

.header {
    display: grid;
    grid-gap: 10px;

    padding: 12px;

    .title {
        grid-column: 1 / 3;
        grid-row: 1;

        display: flex;
        justify-self: center;
    }

    .home-link {
        grid-column: 1;
        grid-row: 2;

        display: flex;
        justify-self: flex-start;
        width: 140px;
    }

    .copy-board-link {
        grid-column: 2;
        grid-row: 2;

        display: flex;
        justify-self: flex-end;
        width: 140px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.main {
    flex: 1;
}

.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.landing-page-info {
    font-size: medium;
    text-align: center;
}

.draw-canvas-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.draw-canvas {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    touch-action: none;
}

.draw-tools-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.draw-mode-container {
    display: flex;
    gap: 10px;
}

.color-container {
    display: flex;
    gap: 10px;

    .btn.color {
        width: 35px;
        border-color: lightgray;
        border-radius: 50%;

        &.active {
            border-color: lightblue;
        }

        &:hover {
            border-color: gray;
        }
        &.active:hover {
            border-color: cyan;
        }

        &.black {
            background-color: black;
        }
        &.red {
            background-color: red;
        }
        &.green {
            background-color: green;
        }
        &.blue {
            background-color: blue;
        }
    }
}
