@use "../abstracts" as *;

.header {
    display: grid;
    grid-gap: 10px;

    padding: 12px;

    @include respond("md") {
        grid-template-columns: repeat(3, 1fr);
    }

    .title {
        grid-column: 1;
        grid-row: 1;

        display: flex;
        justify-self: center;

        @include respond("sm") {
            grid-column: 1 / 3;
        }

        @include respond("md") {
            grid-column: 2;
            grid-row: 1;
        }
    }

    .home-link {
        grid-column: 1;
        grid-row: 2;

        display: flex;
        justify-self: center;
        width: 140px;

        @include respond("md") {
            grid-column: 1;
            grid-row: 1;
        }
    }

    .copy-board-link {
        grid-column: 1;
        grid-row: 3;

        display: flex;
        justify-self: center;
        width: 140px;

        @include respond("sm") {
            grid-column: 2;
            grid-row: 2;
        }

        @include respond("md") {
            grid-column: 3;
            grid-row: 1;
        }
    }
}
